h1 {
    text-align: center;
    font-size: 60px;
}

#side-panel {
    height: 250px;
    width: 200px;
    float: right;
    margin-right: 250px;
    margin-top: 205px;
    border: 3px solid black;
    border-radius: 20px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: lightgray;
}

h2 {
    text-align: center;
}
 p {
     text-align: center;
 }

#game-container {
    align-items: center;
}

#game-over {
    padding-top: 75px;
    position: absolute;
    top: 250px;
    left: 300px;
    border: 3px solid black;
    width: 200px;
    height: 200px;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    display: none;
}

h3 {
    text-align: center;
}
.hidden {
    display: none;
}

#new-game {
    width: 100px;
    border-radius: 10px;
    margin-left: 50px;
}